/* Styles généraux */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #e0e7ef;
    margin: 0;
    background: url("/Meteo_projet/images/bg-img.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    display: flex;
  	flex-direction: column;
  	height: 100%;
}

body:before {
	content: "";
	position: absolute;
	width: 100%;
	height:100%;
	background: rgb(0,0,0,0.15);
	backdrop-filter: blur(10px);
}

/* Conteneur principal de la carte météo */
.weather-container {
    width: 350px;
    padding: 20px;
    border-radius: 12px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#weather-info {
	display:flex;
	justify-content:center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}


/* Barre de recherche */
.search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 33%;
    background: rgba(255, 255, 255, 0.2);
    padding: 8px 12px;
    border-radius: 20px;
    backdrop-filter: blur(100px);
    margin: 25px;
}

.search-header input {
    border: none;
    background: transparent;
    outline: none;
    color: white;
    flex: 1;
    font-size: 14px;
}

.search-header button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Ville et date */
.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    opacity: 0.8;
}

.city-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.city-info i {
    font-size: 16px;
    color: white;
}

/* Température principale */
.temperature-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.details-info-weather {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.content-temperature {
	font-size: 30px;
	font-weight: bolder;
	margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}


.weather-icon {
    width: 60px;
    height: 60px;
}

.temperature {
    font-size: 50px;
    font-weight: bold;
}

.condition {
    font-size: 18px;
    opacity: 0.8;
}

/* Détails météo */
.weather-details {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.weather-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    gap: 4px;
    justify-content: center;
}

.weather-item p {
	margin-block-start: 0em;
    margin-block-end: 0em;
}

.weather-item img {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.sun-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    font-size: 14px;
    gap: 10px;
}

.sun-info p {
    display: flex;
    align-items: center;
    gap: 6px;
    background: rgb(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 12px;
}

.sun-info img {
    width: 18px;
    height: 18px;
    filter: invert(1);
}

.favoris-btn {
	display: flex;
	align-content: start;
	width: 100%;
}


.squishy {
    background: rgba(255, 215, 0, 0.3);
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
  	width: 20px;
}

.squishy:hover {
    background: rgba(255, 215, 0, 0.6);
    transform: scale(1.15);
}

footer {
	bottom: 0;
  	position: absolute;
}

